.container {
  width: 1110px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}

.recent__title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191F;
}

.content-container {
  position: relative;
}

.recent-item {
  position: relative;
}

.recent-item__text {
  position: absolute;
  top: 32px;
  left: 24px;
}

.recent-item__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

.recent-item__subtitle {
  margin: 0;
}

.recent-item {
  display: inline-block;
}

.recent-item_second {
  vertical-align: top;
  margin-left: 25px;
}

.recent-item_third {
  position: absolute;
  top: 331px;
  left: 379px;
}

.recent-item_fourth {
  position: absolute;
  top: 329px;
  left: 759px;
}

.recent-item_fifth {
  margin-top: 25px;
  margin-right: 25px;
}
