@font-face
    font:
        family: "Manrop-Medium"
        style: normal
        weight: 500
    src: local("Manrope-Medium"),
        url:('../fonts/Manrope-Medium.ttf')
    
@font-face
    font:
        family: "Manrop-ExtroBold"
        style: normal
        weight: 500
    src: local("Manrope-ExtroBold"),
        url:('../fonts/Manrope-Extro-Bold.ttf')
 